@font-face {
	font-family: 'Apercu';
	src: url('../font/Apercu\ Light.otf');
	/* src: url('webfont.eot') IE9 Compat Modes */
	/* url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
	/* url('webfont.woff2') format('woff2'), Super Modern Browsers */
	/* url('webfont.woff') format('woff'), Pretty Modern Browsers */
	/* url('webfont.ttf')  format('truetype'), Safari, Android, iOS */
	/* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}

html {
	height: 100%;
}

@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
		padding-top: 48px;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1520px;
		padding-top: 48px;
	}
}

body {
	font-family: 'Apercu', Fallback, sans-serif;
	max-width: none;
	padding: 0;
	height: 100%;
	background: #E5E5E5;
}

main.main {
	/* background: #E5E5E5; */
	/* min-height: 100%; */
    background: #E5E5E5;
    min-height: 100%;
    display: flex;
    /* align-items: flex-start; */
}

.scrollable {
	overflow: hidden;
	overflow-y: auto;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


/* width */

.scrollable::-webkit-scrollbar {
	width: 6px;
}


/* Track */

.scrollable::-webkit-scrollbar-track {
	background: #fff;
}


/* Handle */

.scrollable::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}


/* Handle on hover */

.scrollable::-webkit-scrollbar-thumb:hover {
	background: #888;
}

.nopad {
	padding: 0 !important;
}


/* Header - Start*/

nav.navbar {
	height: 80px;
	background-color: #ffffff!important;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
	margin: 0 0 0 56px;
}

img.company-logo {
	height: 40px;
}

.navbar .portal-brand-name {
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 4px;
}

.navbar .portal-brand-name a {
	color: #000000;
}

.navbar .portal-brand-name a:hover {
	text-decoration: none;
}

.nav-dropdown-header {
	font-size: 18px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.navbar-nav-right {
	margin-right: 64px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #196066;
}

.dropdown-menu {
	left: initial;
}

.dropdown-menu.dnt {
	width: 40%;
}

.dropdown-menu.dnt .panel-heading {
	padding: 0;
	border: 0;
}

.dropdown-menu.dnt .panel.panel-default {
	margin-bottom: 1rem;
}

.dropdown-menu.dnt .panel-title>a,
.panel-title>a:active {
	display: block;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #196066;
}

.dropdown-menu.dnt .panel-heading a i {
	background: url('../icons/subnav-arrow.svg');
	background-size: 20px;
	height: 20px;
	width: 20px;
	float: right;
	transition: all 0.5s;
}

.dropdown-menu.dnt .panel-heading.active a i {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nav-item.show a.nav-link span {
	padding-bottom: 8px;
	border-bottom: 4px solid #196066;
}

.submenu-container {
	margin-left: initial;
	margin-right: initial;
}

.submenu-column p.navigation-title {
	font-weight: bold;
	margin-bottom: 0;
}

.submenu-column p.navigation-link {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	color: #196066;
}

p.navigation-link.child {
	font-weight: normal;
	font-size: 14px;
	padding: 8px 8px;
	background-color: #caf1ca;
	margin-bottom: 4px;
}


/* .submenu-column p.navigation-link:hover{
    background-color: lightgray;
} */

.submenu-column a {
	text-decoration: none;
	color: black;
}

.sub-content {
	margin-bottom: 24px;
}

.nav-link.dropdown-toggle.cc:after{
	content: none;
}

.dropdown-menu.cc {
	width: 50%;
    right: 8%;
}

.cc-column>div.row{
	padding: 8px 0;
}

.cc .cc-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #196066;
}

.cc .cc-icon {
	padding-top: 4px;
    padding-bottom: 4px;
}

.cc .cc-icon svg{
	margin: auto;
    display: block;
}

/* Header - End */


/* Footer - Start */

.footer {
	background-color: #5B6770;
	color: #ffffff;
	padding: 40px;
}

.footer:before {
	background: none;
	margin-bottom: 0;
}

.footer-left {
	text-align: center;
}

.footer-left img {
	max-width: 120px;
}

.footer-mid-left {
	border-right: 1px solid #FFFFFF;
}

.footer-mid-right {
	padding-left: 10%;
}

.footer-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.04em;
	padding-top: 8px;
	margin-bottom: 16px;
}

.footer-mid-left li {
	cursor: pointer;
}

.footer-mid li {
	color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.04em;
	margin-bottom: 16px;
}

.footer-mid p {
	color: #ffffff;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	max-width: none;
}

.footer-right{
	text-align: center;
}

.footer-right .map-link {
	height: 50px;
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/* Footer - End */


/* Home - Start */


/* Carousel */


/* .carousel-control-next-icon, .carousel-control-prev-icon{
    display: none;
} */


/* Custom Link Top*/

.home-right .custom-link {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../image/cheesy-autumn.jpg');
	padding: 32px 32px 16px 32px;
	padding-left: 40px;
	padding-right: 40px;
}

.custom-link-item {
	background: linear-gradient(93.45deg, #17A37E -56.66%, #196066 102.74%);
	border-radius: 8px;
	margin-bottom: 8px;
	color: #fff;
	padding: 16px 8px;
	text-align: center;
	margin-bottom: 16px;
}


/* Market Data */

.market-data {
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 4px;
}

.market-data-header {
	background: linear-gradient(96.74deg, #196066 22.29%, #10727A 61.34%, #196066 99.16%);
	border-radius: 4px 4px 0px 0px;
	padding: 14px 15px;
}

.market-data-header span {
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
}

.market-data-table {
	margin-bottom: 0;
}

.market-data-table .market-data-percent.percent-minus{
	color: #AD4646;
}

.market-data-table .market-data-percent.percent-plus{
	color: #229d22;
}

.market-data-table td {
	color: #666;
	font-weight: normal;
	font-size: 14px;
	padding: 17px 15px;
}

.market-data-footer {
	padding: 20px;
	text-align: right;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #E5E5E5;
	border-radius: 0px 0px 0px 0px;
}


/* My Pending Approval */

.pending-approval .card-header {
	background: linear-gradient(96.74deg, #196066 22.29%, #10727A 61.34%, #196066 99.16%);
	border-radius: 4px 4px 0px 0px;
	padding: 14px 15px;
}

.pending-approval .card-header a {
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
	text-decoration: none;
	padding: 0;
	width: 100%;
	text-align: left;
}

.pending-approval .card-header a:hover {
	color: #fff;
	text-decoration: none;
}

.pending-approval .card-header.collapsed a i {
	margin-top: 10px;
	background: url('../icons/accordion-arrow.svg');
	background-size: 20px;
	height: 10px;
	width: 20px;
	float: right;
	transition: all 0.5s;
}

.pending-approval .card-header:not(.collapsed) a i {
	margin-top: 10px;
	background: url('../icons/accordion-arrow.svg');
	background-size: 20px;
	height: 10px;
	width: 20px;
	float: right;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	transition: all 0.5s;
}

.pending-approval-app>a>p {
	margin: 0;
    padding: 16px;
    font-size: 16px;
    line-height: 19px;
    color: #196066;
}

.pending-approval-app>a:hover {
	text-decoration: none;
}

.pending-approval-card>div.pending-approval-app{
	border-bottom: 1px solid #dee2e6;
}

.pending-approval-card>div.pending-approval-app:last-child{
	border-bottom: 0;
}

.pending-approval .card-header {
	cursor: pointer;
}

.pending-approval .card-body {
	padding: 0;
}

.pending-approval-table{
	margin-bottom: 0;
}

.pending-approval-table td {
	color: #666;
	font-weight: normal;
	font-size: 14px;
	padding: 4px 32px;
}

.pending-approval-table td > a{
	color: #196066;
}

.pending-approval-table td > a:hover {
	text-decoration: none;
}

/* Custom Link Bottom*/

.custom-link-bottom {
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 4px;
}

.custom-link-bottom-header {
	background: linear-gradient(96.74deg, #196066 22.29%, #10727A 61.34%, #196066 99.16%);
	border-radius: 4px 4px 0px 0px;
	padding: 14px 15px;
}

.custom-link-bottom-header span {
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
}

.custom-link-bottom-body {
	max-height: 288px;
}

.custom-link-bottom-table {
	margin-bottom: 0;
}

.custom-link-bottom-table td {
	color: #666;
	font-weight: normal;
	font-size: 14px;
	padding: 17px 15px;
}


/* Social Media */

.social-media .tab-content {
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 0px 0px 4px 4px;
	height: 400px;
}

.social-media .nav-tabs .nav-link {
	padding: 8px;
	font-size: 12px;
}


/* Upcoming Event */

.upcoming-event {
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 4px;
}

.upcoming-event-header {
	border-radius: 4px 4px 0px 0px;
	padding: 14px 15px;
	border-bottom: 1px solid #E5E5E5;
}

.upcoming-event-header span {
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #136067;
}

.upcoming-event-body {
	margin-bottom: 0;
	color: #666;
	height: 281px;
}

.upcoming-event .upcoming-event-right {
	background-color: #F7F7F7;
	height: 281px;
}

.upcoming-event .upcoming-event-list {
	margin-top: 20px;
	cursor: pointer;
}

.upcoming-event .upcoming-event-card {
	color: #fff;
	height: 100%;
	padding: 8px 0px;
}

.upcoming-event-card.green {
	background-color: #0E9E88;
}

.upcoming-event-card.red {
	background-color: #E44C4C;
}

.upcoming-event .upcoming-event-card p {
	text-align: center;
	margin-bottom: 0;
}

.upcoming-event .upcoming-event-card> :first-child {
	font-size: 24px;
	font-weight: 500;
}

.upcoming-event .upcoming-event-card> :last-child {
	font-weight: normal;
	font-size: 14px;
}

.upcoming-event-detail h4 {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #5B6770;
	margin-top: 16px;
}

.upcoming-event-detail p {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #666666;
}

.modal-upcoming-event .modal-body {
	padding: 24px;
}

.modal-upcoming-event .modal-body span {
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #666666;
}

.modal-upcoming-event .event-title {
	font-weight: 500;
	font-size: 24px;
	line-height: 39px;
	color: #196066;
}

.modal-upcoming-event .event-description {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #666666;
}

.modal-upcoming-event .event-time {
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	color: #666666;
}

.modal-upcoming-event .event-venue {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #666666;
}

.modal-upcoming-event .event-contact {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #666666;
}


/* Announcement */

.announcement {
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 4px;
}

.announcement-header {
	border-radius: 4px 4px 0px 0px;
	padding: 14px 15px;
	border-bottom: 1px solid #E5E5E5;
}

.announcement-header span {
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #136067;
}

.announcement-body {
	margin-bottom: 0;
	color: #666;
	height: 281px;
}

.announcement-list {
	padding: 8px 0;
	border-bottom: 1px solid #E5E5E5;
}

.announcement-list-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
}

.announcement-list-content {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 4px;
}

.announcement-list-content a {
	color: #0E9E88;
}

.announcement-list-content a:hover {
	text-decoration: none;
	cursor: pointer;
}

.announcement-list-date {
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #C4C4C4;
}


/* CEO Message */

.ceo-message {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../image/cheesy-autumn.jpg');
	height: 240px;
	/* padding: 32px 32px 16px 32px;*/
	padding-left: 40px;
	padding-right: 40px;
}

.ceo-message-content p {
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	width: 70%;
	color: #fff;
	padding-top: 32px;
	margin-bottom: 20px;
}

.ceo-message-content hr {
	border-top: 4px solid #FFF534;
	width: 45%;
	margin: 0;
}


/* Article Carousel */

.article-carousel {
	background-color: #ffffff;
	padding-top: 24px;
	padding-bottom: 24px;
}

.article-carousel .carousel-item {
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
	padding: 16px;
}

.article-carousel-header {
	font-weight: bold;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	color: #136067;
}


/* show 3 items */

.article-carousel-body .carousel-inner .active,
.article-carousel-body .carousel-inner .active+.carousel-item,
.article-carousel-body .carousel-inner .active+.carousel-item+.carousel-item {
	display: block;
}

.article-carousel-body .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.article-carousel-body .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
.article-carousel-body .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
	transition: none;
}

.article-carousel-body .carousel-inner .carousel-item-next,
.article-carousel-body .carousel-inner .carousel-item-prev {
	position: relative;
	transform: translate3d(0, 0, 0);
}

.article-carousel-body .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
	position: absolute;
	top: 0;
	right: -33.3333%;
	z-index: -1;
	display: block;
	visibility: visible;
}


/* left or forward direction */

.article-carousel-body .active.carousel-item-left+.carousel-item-next.carousel-item-left,
.article-carousel-body .carousel-item-next.carousel-item-left+.carousel-item,
.article-carousel-body .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
.article-carousel-body .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
	position: relative;
	transform: translate3d(-100%, 0, 0);
	visibility: visible;
}


/* farthest right hidden item must be abso position for animations */

.article-carousel-body .carousel-inner .carousel-item-prev.carousel-item-right {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	visibility: visible;
}


/* right or prev direction */

.article-carousel-body .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
.article-carousel-body .carousel-item-prev.carousel-item-right+.carousel-item,
.article-carousel-body .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
.article-carousel-body .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
	position: relative;
	transform: translate3d(100%, 0, 0);
	visibility: visible;
	display: block;
	visibility: visible;
}

.article-carousel-body .carousel-control-prev-icon {
	background-image: url('../icons/carousel-prev.svg');
}

.article-carousel-body .carousel-control-next-icon {
	background-image: url('../icons/carousel-next.svg');
}

.article-carousel-body .carousel-control-next-icon,
.article-carousel-body .carousel-control-prev-icon {
	width: 40px;
	height: 40px;
}

.article-carousel-body .carousel-control-prev {
	left: -56px;
}

.article-carousel-body .carousel-control-next {
	right: -56px;
}

.article-carousel .card-body h4.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #333F48;
}

.article-carousel .card-body p.card-text{
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #5B6770;
}

.article-carousel .card-body div.card-button button{
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}



/* Home - End */


/* Employee Resources - Start */

.employee-resources-top {
	background-color: #ffffff;
}

.employee-resources-top h3 {
	margin-top: 16px;
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 32px;
	line-height: 50px;
	color: #196066;
}

.employee-resources-top p {
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.employee-resources-bottom {
	background: linear-gradient(277.9deg, #17656C 9.83%, #089077 106.36%);
	padding: 40px;
}

.employee-resources-bottom>div.col-3 {
	padding-bottom: 24px;
}

.employee-resources-bottom .link-card {
	position: relative;
	background-color: #ffffff;
	height: 60px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 8px
}

.employee-resources-bottom .link-card img {
	width: 44px;
}

.employee-resources-bottom .link-card-name {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	/* margin: 0; */
	left: 64px;
}


/* Employee Resource - End */


/* MORS - Start */

/* MORS - Navigation - Start */
.mors-navigation {
    /* position: absolute; */
    background-color: #ffffff;
    width: 20%;
    /* bottom: 0; */
    /* top: 80px; */
    height: auto;
    /* display: inline-block; */
    /* float: left; */
}

.mors-navbar {
	height: 56px;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	padding: 16px;
}

.mors-navbar a {
	color: #196066;
	text-decoration: none;
}

.mors-navbar.active {
	background-color: #196066;
}

.mors-navbar.active a {
	color: #ffffff;
}

/* MORS - Navigation - End */

/* MORS - Content - Start */

.mors-content-wrapper {
    /* margin-left: 20%; */
    padding: 24px;
    width: 100%;
}

.mors-content {
	height: 100%;
}

.mors-page-title h3 {
	font-weight: bold;
	font-size: 32px;
	line-height: 50px;
	color: #196066;
}

.mors-page-title p {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #196066;
}

.mors-card-content {
	background: #FFFFFF;
	border: 1px solid #B7BCC0;
	border-radius: 0px 0px 4px 4px;
	margin-bottom: 16px;
}

.mors-card-list {
	position: relative;
	border-bottom: 1px solid #E5E5E5;
	padding: 12px 16px 12px 16px;
}

.mors-card-list span {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 72px;
	font-size: 14px;
}

.mrd-header {
	background: #17A37E;
	border-radius: 4px 4px 0px 0px;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
	padding: 12px 16px 12px 16px;
}

.mhd-header {
	background: #17B9BD;
	border-radius: 4px 4px 0px 0px;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
	padding: 12px 16px 12px 16px;
}

.mr-header {
	background: #ffffff;
	border-radius: 4px 4px 0px 0px;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #196066;
	padding: 12px 16px 12px 16px;
	border: 1px solid #B7BCC0;
}

.mel-header {
	/* padding: 12px 16px 12px 16px; */
    padding: 12px 0px 12px 0px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;
    color: #000000;
    border-bottom: 2px solid #634738;;
}

.mel-content a p{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #196066;
    margin-bottom: 12px;
}

.mel-content a:hover{
    text-decoration: none;   
}

/* MORS - Content - End */

/* MORS  - End */

/* Company Information - Start */

/* Company Information - Navigation - Start */
.ci-navigation {
    /* position: absolute; */
    background-color: #ffffff;
    width: 20%;
    /* bottom: 0; */
    /* top: 80px; */
    height: auto;
    /* display: inline-block; */
    /* float: left; */
}

.ci-navbar {
	height: 56px;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	padding: 16px;
}

.ci-navbar a {
	color: #196066;
	text-decoration: none;
}

.ci-navbar.active {
	background-color: #196066;
}

.ci-navbar.active a {
	color: #ffffff;
}

/* Company Information - Navigation - End */

/* Company Information - Content - Start */

.ci-content-wrapper {
    /* margin-left: 20%; */
    padding: 24px;
    width: 100%;
}

.ci-content {
	height: 100%;
}

.dnc-list-header {
	background:linear-gradient(96.74deg, #196066 22.29%, #10727A 61.34%, #196066 99.16%);
	border-radius: 4px 4px 0px 0px;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
	padding: 12px 16px 12px 16px;
	border: 1px solid #B7BCC0;
}

.dnc-list-card-content {
	background: #FFFFFF;
	border: 1px solid #B7BCC0;
	border-radius: 0px 0px 4px 4px;
	margin-bottom: 16px;
}

.dnc-list-card-list {
	position: relative;
	border-bottom: 1px solid #E5E5E5;
	padding: 12px 16px 12px 16px;
}

.dnc-list-card-list a:hover{
    text-decoration: none;
}

.dnc-list-card-list p.dnc-list-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #196066;
    margin-bottom: 8px;
}

.dnc-list-card-list p.dnc-list-title{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    margin-bottom: 0;
}

.dnc-detail-top{
    height: 320px;
    background-color: #ffffff;
	border-radius: 4px 4px 0 0;
}

.dnc-detail-bottom{
    height: 64px;
    background: linear-gradient(96.74deg, #196066 22.29%, #10727A 61.34%, #196066 99.16%);
    border-radius: 0px 0px 4px 4px;
}

.dnc-detail-picture {
    text-align: center;
}

.dnc-detail-picture img {
    position: relative;
    height: 300px;
    width: 225px;
    margin-top: 48px;
    z-index: 1;
}

.dnc-detail-data {
    padding-top: 48px;
}

.dnc-detail-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-transform: uppercase;
    color: #196066;
    width: 90%;
    margin-bottom: 8px;
}

.dnc-detail-title{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #5B6770;
    width: 90%;
    margin-bottom: 24px;
}

.dnc-detail-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 90%;
}
/* Company Information - Content - End */

/* Company Information - End */